h2 {
    color: lightgray
}

h4 {
    color: red
}

.productListCard {
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
}

.sellProductBtn {
    margin-right: 5px;
}

/* .productDetailsBtn {

} */