h1.productsHeader {
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}

h4 {
    color: lightgray
}

.productListCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.addNewProductButton {
    margin-top: 20px;
    margin-left: 10px;
}