h1.productsHeader {
    color: white;
    margin-left: 10px;
    margin-top: 25px;
}

h4 {
    color: lightgray
}

.productListCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.addNewProductButton {
    margin-top: 20px;
    margin-left: 10px;
}

.productNameForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.productPriceForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.productVendorForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.productDescriptionForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.createProduct {
    margin-top: 20px;
}

.editProduct {
    margin-top: 20px;
    margin-left: 10px;
}

.addProductBtn {
    margin-left: 10px;
}

.productEditNameForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  
  .productEditPriceForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  
  .productEditVendorForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  
  .productEditDescriptionForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .editProductBtn {
    margin-left: 10px;
  }