h2 {
    color: white;
}

h4 {
    color: lightgray;
}

.purchaseListCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.deleteSaleBtn {
    margin-right: 5px;
}

.purchasesHeader {
    margin-left: 10px;
}

/* .purchaseListCard {
    color: red;
} */

.productName {
    color: red;
}

.selectLeadInput {
    max-width: 600px;
    margin-left: 10px;
}

.selectProductInput {
    max-width: 600px;
    margin-left: 10px;
}

.enterOpportunityButton {
    margin-top: 50px;
    margin-left: 10px;
}