body {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/potw1805a.jpg");
    background-size: cover;
}

.navbar {
    background:darkgoldenrod;
}

a.nav-link {
    color:black
}
