body {
    background-image: url("https://www.hdwallpapers.in/download/warp_abstract-HD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.navbar {
    background:#17a2b8;
}

a.nav-link a:hover::after{
    color: #000;
    

}