body {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/potw1805a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background: gold;
}

a.nav-link {
    color:black
}
