.jumbotron {
    background: none;
    /* background-color: transparent; */
}

h1 {
    color: white
}

p {
    color: white
}

.vogon {
    color: lightgreen
}

.loginBtn {
    display: inline-block;
    justify-content: center;
    /* margin-left: 100px; */
    /* margin-right: 50px; */
    margin-top: 20px;
    margin-bottom: 15px;
}

.logoutBtn {
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.registerButton {
    display: inline-block;
    justify-content: center;
    margin-left: 20px;
    margin-right: 350px;
    margin-bottom: 7px;
}

