.jumbotron {
    background: none;
    background-color: transparent;
}

h1 {
    color: white
}

p {
    color: white
}

.vogon {
    color: lightgreen
}

.loginButton {
    display: inline-block;
    justify-content: center;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    margin-top: 20px;
    margin-bottom: 15px;
}

.logoutButton {
    display: inline-block;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 15px;
}
