.jumbotron {
    background: none
}

h1 {
    color: silver
}

p {
    color: silver
}

.vogon {
    color: lightgreen
}

.loginBtn {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.logoutBtn {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 15px;
}
