h1.leadsHeader {
    color: white;
    margin-left: 10px;
    margin-top: 25px;
}

.createQualifiedLead {
    margin-top: 20px;
}

.editLead {
    margin-top: 20px;
    margin-left: 10px;
}

h2 {
    color: lightgray
}

h4 {
    color: lightgray
}

.leadsListCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.addLeadBtn {
    margin-left: 10px;
}

.leadFirstNameForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadLastNameForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadEmailAddressForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadPhoneNumberForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadAddressForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadEditFirstNameForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadEditLastNameForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadEditEmailAddressForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadEditPhoneNumberForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.leadEditAddressForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.editLeadBtn {
    margin-left: 10px;
}

