.driveName {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.location {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.driveBtn {
    /* width: 500px; */
    display: inline-block;
    /* justify-content: center; */
    /* margin-left: 5px; */
    /* margin-top: 20px; */
}

.previousDriveTicketsBtn {
    /* width: 250px; */
    display: inline-block;
    /* justify-content: center; */
    /* margin-left: 5px; */
    /* margin-top: 20px; */

}

.driveTicketDetailsCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.editUserDriveTicketBtn {
    margin-right: 5px;
}

.deleteUserDriveTicketBtn {
    margin-right: 5px;
}

.driveButton {
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
    /* margin-bottom: 15px; */
}

.previousDriveTicketsButton {
    display: inline-block;
    justify-content: center;
    /* margin-left: 20px; */
    /* margin-bottom: 15px; */
}

.probDriveListCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}
