h1.loginWelcome {
    color: white;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    color: white
}

h3 {
    color: white
}

.loginEmailForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.loginPasswordForm {
        width: 500px;
        display: inline-block;
        justify-content: center;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 5px;
}

.loginSubmit {
    margin-left: 10px;
}

.registerButton {
    /* margin-left: 10px; */
    margin-top: 5px;
}

.loginWelcome {
    margin-left: 10px
}

.toRegister {
    margin-left: 10px;
}

.pleaseLogin {
    margin-left: 10px;
}
