h2 {
    color: #FFFFFF
}

.newUserForm {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.newUserEmail {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.newUserPassword {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.addNewUserBtn {
    margin-left: 10px;
}

.pleaseRegister {
    margin-left: 10px;
    
}