h1.salesHeader {
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}

.salesDetailsCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.editSaleBtn {
    margin-right: 5px;
}

.deleteSaleBtn {
    margin-right: 5px;
}

.salesCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}
