h1.salesHeader {
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}

.driveName {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.location {
    width: 500px;
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.driveBtn {
    display: inline-block;
}

.previousDriveTicketsBtn {
    display: inline-block;
}

.salesDetailsCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}

.editSaleBtn {
    margin-right: 5px;
}

.deleteSaleBtn {
    margin-right: 5px;
}

.driveButton {
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
}

.previousDriveTicketsButton {
    display: inline-block;
    justify-content: center;
}

.salesCard {
    width: 720px;
    margin-left: 10px;
    margin-top: 10px;
}
